@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< Christoc.Modules.ResoureLibrary.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">

 
        <form method="get" action="@Url.Action("Index", "Item")">
            <div class="filter-form">
                <div class="search-input">
                    <input type="text" name="searchTerm" placeholder="Search by Name, Category, or Tags" value="@ViewBag.SearchTerm"  />

                </div>
                <div class="dropdown-input">

                    <select name="mediaType" id="mediaType">
                        <option value="">All Media Types</option>
                        <option value="pdf" @(ViewBag.MediaType == "pdf" ? "selected" : "")>PDF</option>
                        <option value="word doc" @(ViewBag.MediaType == "word doc" ? "selected" : "")>Word Doc</option>
                        <option value="external article" @(ViewBag.MediaType == "external article" ? "selected" : "")>External Article</option>
                        <option value="internal article" @(ViewBag.MediaType == "internal article" ? "selected" : "")>Internal Article</option>
                    </select>

                </div>
                <div class="dropdown-input">

                    <select name="sortBy" id="sortBy">
                        <option value="relevance" @(ViewBag.SortBy == "relevance" ? "selected" : "")>Relevance</option>
                        <option value="newest" @(ViewBag.SortBy == "newest" ? "selected" : "")>Newest</option>
                        <option value="oldest" @(ViewBag.SortBy == "oldest" ? "selected" : "")>Oldest</option>
                    </select>

                </div>

                <input type="submit" value="Search" class="submit-btn" />
            </div>
            
         
        </form>

   


    @if (Model.Count() == 0)
    {
        <p>@Dnn.LocalizeString("NoItems")</p>
    }
    else
    {
        <ul class="tm_tl">
            @foreach (var item in Model)
            {
                <li class="tm_t">
                    <div class="item-container">
                        <div class="image-container">
                            <!-- Add the image here. Replace 'item.ImgUrl' with the actual property holding the image URL -->
                        <a href="@Url.Action("Details", "Item", new { itemId = item.ItemId })"><img src="@item.ImgUrl" alt="@item.ItemName" /></a>    
                        </div>
                        <div class="info-container">
                            <h3 class="item-name">
                                <a href="@Url.Action("Details", "Item", new { itemId = item.ItemId })"> @item.ItemName</a>  
                            </h3>
                            <div class="item-created-date">@item.CreatedOnDate.ToString("MMMM dd, yyyy")</div>
                            <div class="item-description">
                                @item.ItemDescription
                                <!-- Add a "Read More" button -->
                            </div>

                            <a href="@Url.Action("Details", "Item", new { itemId = item.ItemId })" class="read-more">Read More</a>

                        </div>
                    </div>
                    @{
                        if (Dnn.ModuleContext.IsEditable)
                        {
                            <div class="edit-delete-links">
                                <a href="@Url.Action("Edit", "Item", new { ctl = "Edit", itemId = item.ItemId })">@Dnn.LocalizeString("EditItem")</a>
                                <a href="@Url.Action("Delete", "Item", new { itemId = item.ItemId })">@Dnn.LocalizeString("DeleteItem")</a>
                            </div>
                        }
                    }


                    <hr />
                </li>


            }
        </ul>
    }
</div>
